.collection {
    background: #EEE4DB;
    position: relative;
    margin-bottom: 90px;
}

.collection__img {
    position: absolute;
    top: -87px;
    right: 100px;
}

.collection__wrapper {
    display: flex;
}

.collection__switch {
    margin-top: 17px;
    margin-left: 31px;
    margin-right: 44px;
}

.collection__switch-num {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
}

.collection__switch-list-item {
    width: 31px;
    height: 3px;
    margin-bottom: 10px;
}

.collection__switch-list-item-button {
    width: 31px;
    height: 3px;
    border: 0;
    background: #D6CAC2;
    cursor: pointer;
}

.collection__switch-list-item-button:hover {
    background: #725F5B;
}

.collection__text {
    margin-top: 91px;
    margin-bottom: 89px;
}

.collection__text-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    width: 307px;
    margin: 0;
    margin-bottom: 18px;
}

.collection__text-subtitle {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-bottom: 20px;
}

.collection__text-button {
    width: 161px;
    height: 40px;
    background: #000000;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

.collection__text-button:hover {
    background: #C29974;
}

.collection__text-button:active{
    background: #CFAF91;
}

.collection__basement {
    display: flex;
    background: #C29974;
    text-align: center;
    height: 39px;
    justify-content: center;
    flex-direction: column;
}

.collection__sub-subtitle {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.category {
    margin-bottom: 90px;
}

.category__products {
    margin-bottom: 33px;
}

.category__products-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 30px;
}

.category__products-list {
    display: flex;
}

.category__products-list-item {
    width: 280px;
    height: 270px;
    position: relative;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category__products-list-item:nth-child(4) {
    margin-right: 0;
}

.green {
    background: #DBE4DB;
}

.brown {
    background: #EADDD3;
}

.beige {
    background: #F8F2DA;
}

.blue {
    background: #D5D4E1;
}

.category__products-list-item-text {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    top: 103px;
}

.category__products-list-item-text:hover,
.category__products-list-item-text:active{
    text-decoration: underline;
}

.text-apparel {
    left: 75px;
    width: 129px;
    text-align: center;
}

.text-holiday {
    left: 62px;
    width: 155px;
    text-align: center;
}

.text-toys {
    top: 119px;
    left: 104px;
}

.text-accessories {
    top: 119px;
    left: 44px;
}

.category__switch {
    display: flex;
}

.category__switch-left-arrow, 
.category__switch-right-arrow {
    width: 37px;
    height: 37px;
    background: rgba(112, 187, 220, 0.2);
    border: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.category__switch-left-arrow:hover, 
.category__switch-right-arrow:hover,
.category__switch-left-arrow:active, 
.category__switch-right-arrow:active {
    background: #D5D4E1;
}

.category__switch-left-arrow {
    margin-right: 6px;
}

.category__switch-right-arrow {
    margin-right: 20px;
}

.category__switch-subtitle {
    width: 580px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.delivery {
    display: flex;
    margin-bottom: 90px;
}

.delivery__img {
    margin-right: 120px;
}

.delivery__text-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 4px;
    margin-top: 30px;
}

.delivery__text-subtitle {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-bottom: 22px;
}

.delivery__text-subtitle-margin {
    margin-bottom: 30px;
}

.delivery__weight {
    font-weight: 700;
    padding-left: 60px;
    padding-top: 11px;
}

.background-blue {
    width: 266px;
    height: 44px;
    background: rgba(112, 187, 220, 0.2);
    margin-bottom: 11px;
    margin-left: -60px;
}

.delivery__text-description {
    width: 470px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 15px;
}

.delivery__margin {
    margin-bottom: 35px;
}

.delivery__text-link {
    padding: 9px 22px;
    background: #000000;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.delivery__text-link:hover {
    background: #C29974;
}

.delivery__text-link:active{
    background: #CFAF91;
}

.awards {
    margin-bottom: 114px;
}

.awards__list {
    display: flex;
    align-items: flex-end;
}

.awards__list-item {
    margin-right: auto;
    cursor: pointer;
}

.awards__list-item:hover {
    opacity: 0.5;
}

.awards__list-item:nth-child(4) {
    margin: 0;
}

.wrapper {
    display: flex;
    margin-bottom: 155px;
}

.design {
    width: 543px;
    height: 228px;
    background: #E1F0F7;
    margin-right: 57px;
}

.design__wrapper {
    position: relative;
    margin-left: 30px;
}

.design__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: -215px;
    position: absolute;
}

.design__subtitle {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-bottom: 10px;
    margin-top: 31px;
}

.design__description {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 29px;
    width: 483px;
}

.design__link {
    padding: 9px 22px;
    background: #000000;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.design__link:hover {
    background: #C29974;
}

.design__link:active {
    background: #CFAF91;
}

.contacts {
    width: 543px;
    height: 209px;
    background: #E1F0F7;
}

.contacts__wrapper {
    position: relative;
    margin-left: 30px;
}

.contacts__title {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: -363px;
}

.contacts__subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 30px;
    width: 483px;
    margin-top: 42px;
}

.modal {
    display: none;
}